* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #071726;
  font-family: "Lobster", sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
}


section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}


.landing {
  position: relative;
  min-height: 100vh;
  background-image: url("./assets/landing.jpg");
  background-size: cover;
  background-position: center;
}


.link-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.link-container a {
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  animation: animationLink 3s infinite;
}

.link-container a:nth-child(1) { 
  animation-delay: 0s; 
}
.link-container a:nth-child(2) { 
  animation-delay: 1s; 
}
.link-container a:nth-child(3) { 
  animation-delay: 2s; 
}

.link-container a:hover {
  color: yellow;
}


.animation-box {
  position: fixed;      
  inset: 0;             
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/backstart.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
  animation: animationStart 5s forwards;
}

.animation-box h1 {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  text-align: center;
  width: min(1000px, 90%);
}


audio {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}




@keyframes animationLink {
  0% { 
    transform: scale(1);
   }
  50% { 
    transform: scale(1.1); 
  }
  100% { 
    transform: scale(1); 
  }
}

@keyframes animationStart {
  0%   { 
    opacity: 1; 
    visibility: visible; 
  }
  80%  { 
    opacity: 1; 
    visibility: visible; 
  }
  100% { 
    opacity: 0; 
    visibility: hidden; 
  }
}
